{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!-- Page Header -->

<header class="masthead"
        {% if blog.blog_image %}
        style="background-image: url('{{ blog.blog_image.url }}');"
        {% else %}
        style="background-color: #1b1e21"
        {% endif %}>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ blog.blog_title }}</h1>
                    <h2 class="subheading">
                        {% if blog.blog_subtitle %}
                        {{ blog.blog_subtitle }}
                        {% endif %}
                    </h2>
                    <span class="meta">Posted by <a
                            href="{% url 'blogs' blog.author.id %}">{{ blog.author.name }}</a> on {{ blog.date_posted }}</span>
                    <br/>
                    {% if request.user == blog.author %}
                    <div class="btn-group-sm">
                        <a href="{% url 'edit-blog' blog.slug %}" class="btn btn-dark">Edit Blog</a>
                        <a href="{% url 'delete-blog' blog.slug %}" class="btn btn-danger">Delete Blog</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ blog.blog_content|safe }}
                <br/>
                <hr/>
                <br/>

                <h2 id="comment-section">Leave your comment!</h2>

                {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            {{ comment_form.content|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <button class="btn btn-outline-info rounded " type="submit">Add comment <i
                                class="fas fa-comments"></i>
                        </button>
                    </div>
                </form>
                {% else %}
                <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">
                    Log in to add a comment!</a><br>
                {% endif %}

                {% if comments %}
                <strong class="text-secondary">
                    {{ comments.count }} Comment{{ comments.count|pluralize }}
                </strong>
                <hr>
                <ul>
                    {% for comment in comments %}
                    <li>
                        <div class="border-width-2 rounded">
                            <p class="post-meta text-info">
                                <a href="{% url 'blogs' comment.author.id %}">{{ comment.author.name }}</a>
                                <small class="text-muted">{{ comment.date_posted }}</small>
                            </p>
                            <p>
                                {{ comment.content|safe }}<br/>
                                {% if comment.author == request.user %}
                                <small><a href="{% url 'edit-comment' comment.id %}">Edit Comment</a> |</small>
                                <small><a href="{% url 'delete-comment' comment.id %}">Delete Comment</a></small>
                                {% endif %}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong class="text-secondary">No comments yet...</strong>
                {% endif %}
            </div>
        </div>
    </div>
</article>

{% endblock %}
